In [2]:
import numpy as np
import pandas as pd
import scipy.sparse as sps
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from time import time

In [18]:
words = pd.read_csv('/home/kopita/data_sets/nytimes/vocab.nytimes.txt', header=None)
words.columns = ['word']

In [3]:
df = pd.read_csv('/home/kopita/data_sets/nytimes/docword.nytimes.txt', sep=' ', skiprows=3,
                 header=None)
df.columns = ['docID','wordID','count']
dff = df.values

In [4]:
rows, row_pos = np.unique(dff[:, 0], return_inverse=True)
cols, col_pos = np.unique(dff[:, 1], return_inverse=True)
pivot_table = sps.coo_matrix((dff[:, 2], (row_pos, col_pos)),
                             shape=(len(rows), len(cols)))
pivot_table = pivot_table.tocsr()
pivot_table.sort_indices()

In [396]:
indices, counts = np.unique(pivot_table.indices, return_counts=True)

In [402]:
np.argsort(counts)

array([80514, 62630, 62533, ..., 25710, 27948, 33454])

In [408]:
counts[33454]

108622

In [387]:
pivot_table.indptr[:100]

array([    0,   128,   236,   502,   671,   784,   962,  1308,  1627,
        2149,  2264,  2439,  2526,  2650,  2851,  3212,  3528,  3844,
        4137,  4474,  4628,  4810,  4814,  5200,  5436,  5707,  5909,
        6167,  6273,  6511,  6749,  7055,  7361,  7557,  7753,  7947,
        8141,  8269,  8397,  8728,  9059,  9320,  9581,  9741,  9901,
       10137, 10373, 10482, 10591, 10832, 11073, 11263, 11453, 11693,
       11933, 12044, 12155, 12395, 12635, 12765, 12895, 13177, 13459,
       13715, 13981, 14211, 14438, 14746, 14933, 15173, 15413, 15524,
       15635, 15909, 16069, 16260, 16503, 16633, 17019, 17136, 17316,
       17463, 17577, 17727, 17851, 18010, 18181, 18584, 18986, 19227,
       19504, 19721, 19980, 20236, 20508, 20607, 20791, 21061, 21314, 21558], dtype=int32)

In [373]:
pivot_table.indptr.shape

(299753,)

In [391]:
pivot_table[:,:10].sum(axis=0)

matrix([[  70,   25,   53,  529,   29,   47,  107, 3950, 7331, 1591]], dtype=int64)

In [409]:
np.count_nonzero(pivot_table[:,33454].toarray())

108622

In [377]:
pivot_table

<299752x101636 sparse matrix of type '<class 'numpy.int64'>'
	with 69679427 stored elements in Compressed Sparse Row format>

In [393]:
#pivot_table[:,:10]
#pivot_table.indices.reshape([299752,101636])
pivot_table.indices[:1000]

array([   412,    533,   2338,   2803,   3056,   3067,   3291,   3353,
         4053,   4927,   5251,   6884,   6942,   6970,   7292,   7398,
         7401,   7405,   7540,   7786,   9081,   9381,   9955,   9979,
        10122,  10470,  10783,  11758,  12605,  12956,  13354,  13987,
        14250,  14748,  14810,  14847,  15498,  15708,  15881,  16248,
        16380,  16576,  16738,  16847,  17649,  17655,  17815,  18067,
        18195,  18348,  18561,  18698,  18984,  22120,  22121,  22140,
        22284,  22306,  22864,  23497,  24478,  24847,  25598,  25710,
        25711,  25939,  26101,  26391,  28038,  28394,  28395,  29149,
        29158,  29345,  29591,  30661,  30995,  31422,  31568,  31570,
        31727,  31730,  31925,  32539,  33005,  33454,  33928,  34444,
        34479,  34544,  34765,  34873,  35472,  35476,  35523,  37885,
        37942,  38036,  39105,  39120,  39125,  39330,  40216,  40365,
        40459,  41035,  41042,  41140,  42505,  42839,  43547,  43786,
        43959,  43960,  49406,  49407,  51603,  51939,  54015,  56741,
        58421,  63039,  67722,  77722,  79790,  81380,  82471,  82509,
          441,    622,   1019,   1697,   1699,   1705,   1892,   1936,
         2004,   2040,   2186,   2195,   3190,   3353,   4200,   4350,
         5240,   5245,   5792,   5917,   5999,   6001,   6107,   6833,
         6866,   7629,   8424,   8464,   9312,   9602,   9742,  10476,
        11330,  12257,  12259,  12416,  13148,  13402,  13845,  14105,
        14626,  14906,  15717,  15948,  16282,  16693,  17976,  18437,
        18531,  20948,  20951,  21751,  22121,  22170,  22434,  22791,
        23497,  23944,  23996,  24075,  24207,  24478,  25688,  25869,
        25883,  25948,  26297,  26391,  26393,  26398,  26680,  27628,
        27785,  28015,  28528,  28551,  29700,  29950,  29990,  30329,
        30399,  30553,  30779,  30790,  31597,  31790,  32095,  32539,
        34395,  35083,  36016,  36526,  36557,  37223,  37588,  37999,
        40671,  40767,  41030,  42004,  42308,  43085,  43962,  44031,
        44360,  89376,  91284,  98145,     58,    395,    399,    403,
         1001,   1223,   1629,   2006,   2329,   2803,   3014,   3291,
         3766,   4248,   4319,   4726,   4729,   4847,   5062,   5269,
         5363,   5475,   5556,   5708,   5709,   5914,   5918,   6001,
         6107,   6124,   6136,   6245,   6261,   6350,   6431,   6767,
         6885,   7266,   7464,   7503,   7677,   7678,   7688,   8854,
         9081,   9294,   9373,   9541,   9639,  10419,  10506,  10815,
        11399,  11918,  11952,  12257,  12721,  12961,  13172,  13200,
        13548,  13679,  13961,  14277,  14299,  14377,  14390,  14565,
        14587,  14621,  14663,  14717,  14876,  14924,  14994,  15174,
        15397,  15474,  15895,  16132,  16155,  16205,  16248,  16331,
        16771,  17117,  17122,  17204,  17721,  18095,  18113,  18201,
        18279,  18524,  18782,  18787,  18800,  18822,  18826,  18974,
        19021,  19221,  19818,  21221,  21232,  21554,  21918,  22088,
        22135,  22170,  22434,  22529,  22637,  23195,  23228,  23612,
        23734,  23936,  23958,  24002,  24258,  24374,  24777,  25385,
        25587,  25662,  25715,  25758,  25883,  25939,  25943,  26227,
        26690,  26833,  26885,  27016,  27128,  27519,  27660,  28012,
        28038,  28063,  28281,  28289,  28444,  29092,  29157,  29345,
        29381,  29506,  29636,  29700,  30154,  30280,  30336,  30408,
        30478,  30609,  30984,  31256,  31570,  32157,  32548,  33238,
        33532,  33668,  33706,  33953,  34369,  34619,  34751,  34774,
        34818,  34828,  34834,  35150,  35157,  35288,  35541,  35551,
        35560,  35865,  35927,  35944,  35990,  36291,  36896,  36933,
        36968,  36970,  37385,  37648,  37832,  37949,  37956,  38005,
        38037,  38218,  38302,  38473,  38497,  39177,  39395,  39468,
        39644,  39646,  39701,  39726,  39766,  39819,  39825,  39870,
        40125,  40192,  40440,  40800,  40911,  41636,  42336,  42998,
        43201,  43216,  43222,  43364,  43373,  43456,  43523,  43547,
        43654,  43736,  43963,  44057,  44217,  44401,  46084,  50369,
        51201,  52252,  54561,  58147,  58670,  64457,  68708,  72181,
        73072,  75211,  76124,  77609,  81211,  81758,  84590,  88006,
        88350,  88791,  90219,  91084,  91284,  91524,  92461,  94352,
        96405,  97446,  98279,  99625,  99653, 100378,    257,    450,
          671,    742,    867,    872,    892,    893,    900,   1097,
         1705,   2006,   2216,   2540,   3607,   3898,   4054,   4203,
         5364,   5664,   5855,   5971,   6103,   6107,   6334,   6767,
         7378,   7473,   7629,   7677,   7906,   7980,   8233,   8357,
         8471,   9055,   9602,  10151,  10478,  10492,  10785,  10930,
        12443,  12463,  12844,  13149,  13549,  13846,  13962,  14002,
        14310,  14565,  15056,  15118,  15203,  15222,  15380,  15437,
        15711,  16748,  16762,  16771,  17053,  17204,  17335,  17649,
        17733,  17787,  17964,  17997,  18561,  18699,  18822,  19671,
        19920,  20067,  21132,  21133,  21262,  21924,  21950,  22916,
        23228,  23764,  24232,  24258,  24365,  24480,  25939,  26391,
        26555,  26624,  26688,  26690,  26854,  26974,  26993,  28022,
        28207,  28394,  29091,  29700,  30220,  30280,  30331,  30408,
        30772,  30995,  31169,  31587,  31692,  31789,  32468,  32761,
        33075,  33660,  34059,  34541,  34774,  35033,  36708,  37018,
        37579,  38241,  38710,  38999,  39105,  39468,  39471,  39644,
        39658,  39825,  40157,  40426,  40444,  40633,  40943,  41153,
        42228,  43143,  43201,  43851,  43903,  45203,  45447,  46104,
        50408,  51966,  51968,  56318,  61134,  61139,  61349,  61660,
        65067,  69308,  72992,  74057,  75555,  75582,  75590,  75734,
        81758,  81863,  91587,  98164,  98213,  99625, 100984,    637,
          671,   2567,   4668,   4670,   7433,   7464,   8135,   8854,
         8855,   9481,  10045,  10128,  10617,  10753,  10954,  11127,
        11880,  12258,  12265,  12431,  13520,  13752,  13845,  14437,
        14591,  17029,  17053,  17335,  17437,  17649,  18196,  18423,
        18822,  18824,  20464,  22123,  22641,  22705,  23228,  23309,
        23618,  23859,  26167,  27011,  27948,  28158,  28974,  30069,
        30185,  30329,  30331,  30336,  30399,  30407,  30772,  31827,
        33015,  33151,  34445,  34479,  35120,  35541,  36708,  36942,
        37549,  38086,  38369,  38718,  38999,  39468,  39712,  42568,
        42815,  43736,  43959,  44023,  44162,  46101,  48236,  48852,
        49027,  50546,  51310,  51410,  51966,  55691,  58373,  59281,
        60501,  61383,  63835,  65170,  73102,  75711,  76436,  76977,
        78529,  79490,  80395,  81758,  82772,  83917,  83963,  87542,
        90493,  93692,  93926,  94050,  99625,  99661,  99914, 100099,
          450,    457,    902,   1499,   1905,   1955,   2273,   2297,
         2329,   2901,   3353,   3362,   3799,   3984,   4343,   4388,
         4637,   4638,   4847,   5038,   5115,   5269,   5366,   5367,
         5475,   5915,   5918,   5971,   6245,   6661,   7221,   7312,
         7334,   7553,   7629,   7677,   7680,   8582,   8637,   8802,
        10933,  11308,  12011,  12090,  12314,  12961,  13354,  13402,
        13476,  14389,  14390,  14397,  14565,  14706,  14715,  14825,
        14868,  14924,  14972,  14994,  15222,  15984,  16703,  16749,
        16997,  17098,  17409,  17410,  18058,  18113,  18209,  18364,
        18437,  18442,  18914,  19375,  19853,  20211,  20324,  20554,
        21222,  21689,  21921,  22627,  22818,  22953,  23207,  23473,
        23502,  23612,  23782,  23936,  24161,  24232,  24344,  24365,
        24478,  25104,  25418,  25587,  25731,  25759,  25883,  25939,
        26690,  26904,  27538,  27813,  28394,  29055,  29099,  30125,
        30130,  30399,  31413,  31715,  31994,  33238,  33454,  33949,
        34873,  35541,  35858,  35862,  36290,  36643,  36712,  36831,
        36942,  37295,  37460,  37780,  37832,  37840,  37850,  37956,
        38036,  38039,  38056,  38601,  39118,  39201,  39586,  39819,
        39825,  39836,  40114,  40115,  40125,  40317,  40362,  40439,
        40440,  40633,  40850,  40870,  41035,  41574,  42623,  42842,
        42899,  42937,  43368,  43450,  43524,  44217,  44311,  52742,
        60914,  65348,  78633,  78634,  79563,  82794,  83280,  93312,
        98213, 101587,    262,    457,    756,    762,    894,    902,
         1223,   1414,   1462,   1705,   2006,   2329,   2393,   2418,
         2457,   2513,   2628,   2803,   2897,   2901,   3362,   3572,
         3607,   3655,   3713,   3879,   4000,   4388,   4610,   4729,
         5017,   5038,   5039,   5249,   5275,   5364,   5572,   5709], dtype=int32)

In [385]:
pivot_table.nonzero

<bound method spmatrix.nonzero of <299752x101636 sparse matrix of type '<class 'numpy.int64'>'
	with 69679427 stored elements in Compressed Sparse Row format>>

In [346]:
pivot_table.getcol(0).toarray()

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [325]:
len(pivot_table.getrow(1002).indices)

198

In [258]:
pivot_table[-10:,:22].toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [259]:
q[-10:,:22].toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [209]:
col_count = []
for n_col in range(pivot_table.shape[1]):
    indices = len(pivot_table.getcol(n_col).indices)
    col_count.append(indices)

KeyboardInterrupt:

In [ ]:
col_count

In [ ]:
top_indices_i = np.argsort(top_indices)[-10:][::-1]

In [206]:
len(pivot_table.getcol(0).indices)

68

In [207]:
np.count_nonzero(pivot_table.getcol(0).toarray())

68

In [197]:
tt = pivot_table.getcol(1)

In [198]:
np.count_nonzero(tt.toarray())

25

In [201]:
pivot_table

<299752x101636 sparse matrix of type '<class 'numpy.int64'>'
	with 69679427 stored elements in Compressed Sparse Row format>

In [97]:
qq = pivot_table.getrow(3)
qq

<1x101636 sparse matrix of type '<class 'numpy.int64'>'
	with 169 stored elements in Compressed Sparse Row format>

In [105]:
test = []
for n_row in range(pivot_table.shape[0]):
    indices = pivot_table.getrow(n_row).indices
    test.append(len(indices))

In [139]:
col_pos

array([  412,   533,  2338, ..., 69437, 80303, 81691])

In [177]:
np.sum(pivot_table[128, :].toarray())

536

In [172]:
np.argsort(test)[-10:][::-1]

array([122633, 299001, 299044, 298574, 298579, 122401, 231542, 231518,
       177316, 185007])

In [155]:
len(test)

299752

In [103]:
len(qq.indices)

169

In [88]:
np.argmax(qq.data)

124

In [5]:
true_k = 20
print("Extracting features from the training dataset using a sparse vectorizer")
t0 = time()
vectorizer = TfidfTransformer()
X = vectorizer.fit_transform(pivot_table)
print("done in %.2fs" % (time() - t0))
print("n_samples: %d, n_features: %d" % X.shape)
print()

Extracting features from the training dataset using a sparse vectorizer
done in 3.42s
n_samples: 299752, n_features: 101636

In [200]:
vectorizer.

{'norm': 'l2', 'smooth_idf': True, 'sublinear_tf': False, 'use_idf': True}

In [9]:
svd = TruncatedSVD(100)
nX = svd.fit_transform(X)

In [13]:
svd.explained_variance_ratio_.sum()

0.11475546253294396

In [24]:
words.shape

(102660, 1)

In [ ]:
svd = TruncatedSVD(1000)
normalizer = Normalizer(copy=False)
lsa = make_pipeline(svd, normalizer)

nX = lsa.fit_transform(X)

In [30]:
X

<299752x101636 sparse matrix of type '<class 'numpy.float64'>'
	with 69679427 stored elements in Compressed Sparse Row format>

In [28]:
words.values[0]

array(['aah'], dtype=object)

In [47]:
vectorizer = TfidfTransformer()

In [37]:
pivot_table = np.zeros((len(rows), len(cols)))

MemoryError:

In [ ]:
data = np.array([[ 4057,     8,  1374],
                 [ 4057,     9,   759],
                 [ 4057,    11,    96],
                 [89205,    16,   146],
                 [89205,    17,   154],
                 [89205,    18,   244],
                 [ 4057,    11,     4]])

rows, row_pos = np.unique(data[:, 0], return_inverse=True)
cols, col_pos = np.unique(data[:, 1], return_inverse=True)

pivot_table = np.zeros((len(rows), len(cols)), dtype=data.dtype)
pivot_table[row_pos, col_pos] = data[:, 2]
>>> pivot_table # the element at [0, 2] should be 100!!!
array([[1374,  759,    4,    0,    0,    0],
       [   0,    0,    0,  146,  154,  244]])

import scipy.sparse as sps
pivot_table = sps.coo_matrix((data[:, 2], (row_pos, col_pos)),
                             shape=(len(rows), len(cols))).A
>>> pivot_table # now repeated elements are added together
array([[1374,  759,  100,    0,    0,    0],
       [   0,    0,    0,  146,  154,  244]])

In [13]:
df.head()

   docID  wordID  count
0      1     413      1
1      1     534      1
2      1    2340      1
3      1    2806      1
4      1    3059      1

In [ ]:
df.pivot(index='docID', columns='wordID', values='count')

In [ ]:
df.head()

In [ ]:
data = np.loadtxt('/home/kopita/data_sets/nytimes/docword.nytimes.txt', dtype=int, delimiter=' ', skiprows=3)

In [ ]:
df.head()

In [ ]:
(range(2))

In [ ]:
df_p = df.pivot(index='date', columns='variable', values='value')

In [ ]:
tfid_t = TfidfTransformer()
tfid = tfid_t.fit_transform(df)

In [ ]:
n_components = 1000
svd = TruncatedSVD(n_components)
normalizer = Normalizer(copy=False)
lsa = make_pipeline(svd, normalizer)

X = lsa.fit_transform(X)

In [ ]:
tfid

In [ ]:
df.head()

In [ ]:
tf

In [ ]:
data = numpy.loadtxt(open(filename,'rb'),delimiter=csv_delimiter,skiprows=0)
    return data